In [33]:
import numpy as np
import pandas as pd

In [39]:
path_to_file = '../data/wx_data/USC00110072.txt'

df = pd.read_fwf(path_to_file, widths=[8,6,6,6], names=['date', 'max_temp', 'min_temp', 'precipitation'])

df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df[['max_temp', 'min_temp', 'precipitation']] = df[['max_temp', 'min_temp', 'precipitation']].replace(-9999.0, np.nan)

df['station_id'] = path_to_file.split('/')[-1].split('.')[0]

In [41]:
df.head()

        date  max_temp  min_temp  precipitation   station_id
0 1985-01-01     -22.0    -128.0           94.0  USC00110072
1 1985-01-02    -122.0    -217.0            0.0  USC00110072
2 1985-01-03    -106.0    -244.0            0.0  USC00110072
3 1985-01-04     -56.0    -189.0            0.0  USC00110072
4 1985-01-05      11.0     -78.0            0.0  USC00110072

In [40]:
df.dtypes

date             datetime64[ns]
max_temp                float64
min_temp                float64
precipitation           float64
station_id               object
dtype: object

In [46]:
rows_with_nan = df[df.isna().any(axis=1)]
print(rows_with_nan)

            date  max_temp  min_temp  precipitation   station_id
31    1985-02-01     -83.0       NaN            0.0  USC00110072
119   1985-04-30     244.0       NaN           58.0  USC00110072
2223  1991-05-05     172.0      72.0            NaN  USC00110072
2224  1991-05-06      94.0      50.0            NaN  USC00110072
2225  1991-05-07     200.0      17.0            NaN  USC00110072
...          ...       ...       ...            ...          ...
10475 2013-12-07       NaN       NaN            0.0  USC00110072
10609 2014-04-20       NaN       NaN            0.0  USC00110072
10610 2014-04-21       NaN       NaN            0.0  USC00110072
10611 2014-04-22     178.0       NaN            5.0  USC00110072
10773 2014-10-01       NaN     100.0            0.0  USC00110072

[444 rows x 5 columns]