In [1]:
import numpy as np
import pandas as pd

In [2]:
path_to_file = '../data/wx_data/USC00110072.txt'

df = pd.read_fwf(path_to_file, widths=[8,6,6,6], names=['date', 'max_temp', 'min_temp', 'precipitation'])

df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df[['max_temp', 'min_temp', 'precipitation']] = df[['max_temp', 'min_temp', 'precipitation']].replace(-9999.0, np.nan)

df['station_id'] = path_to_file.split('/')[-1].split('.')[0]

In [10]:
df.head()

        date  max_temp  min_temp  precipitation   station_id  year
0 1985-01-01     -22.0    -128.0           94.0  USC00110072  1985
1 1985-01-02    -122.0    -217.0            0.0  USC00110072  1985
2 1985-01-03    -106.0    -244.0            0.0  USC00110072  1985
3 1985-01-04     -56.0    -189.0            0.0  USC00110072  1985
4 1985-01-05      11.0     -78.0            0.0  USC00110072  1985

In [9]:
df['year'] = df.apply(lambda row: row['date'].year, axis=1)

In [17]:
sum(list(df.loc[df['year']==1987].precipitation))/100.0

79.36